body{
    background-color: #0B0C10;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: #0B0C10;
    color: #66FCF1;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding-top: 10px;
    text-decoration: underline;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(img-1.jpg);
}
.info{
    height: 500px;
    width: 450px;
    background-color: #1F2833;
    margin-left: 150px; 
    color: #66FCF1;
}
h1,h2{
    padding: 10px;
    padding-left: 80px;
}
p{
    font-size: 20px;
    padding-left: 20px; 
}
ul{
    font-size: 20px;
}
/* #C5C6C7 */
.main{
    background-color: #1F2833;
    height: 500px;
    width: 450px;
    margin-right: 200px;
}
.info,
.main{
    margin-top: 60px;
    margin-bottom: 59px;
    border-radius: 10px;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px;
    padding: 25px;
} 
#display{
    height: 60px;
    width: 380px;
    padding: 10px;
    font-size: 35px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}
button{
    height: 50px;
    width: 80px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color:#b2efec
}
#ops{
    background-color: #45A29E;
}
#ops:hover{
    background-color: #06b4a9;
}
footer{
    background-color: #0B0C10 ;
    color: #66FCF1;
    height: 50px;   
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 750px) {
    main{
        flex-direction: column;
    }
    .info{
        margin-left: 150px;
        margin-bottom: 5px;
    }
    .main{
        margin-left: 150px;
        margin-bottom: 5px;
        margin-top: 5px
    }
}
@media (min-width: 750.02px) and (max-width: 1000px){
    main{
        flex-direction: column;
    }
    .info{
        margin-left: 150px;
        margin-bottom: 5px;
    }
    .main{
        margin-left: 150px;
        margin-bottom: 5px;
        margin-top: 5px
    }
}
@media (min-width: 1000.02px) and (max-width: 1190px){
    .info{
        overflow: scroll;
    }
}